# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#ignore docs directory
docs/*
.libs/

#Extra Files not required..
autoscan*
autom4te.cache/*
.deps/
config.*
aclocal*
m4*
missing
depcomp
compile
libtool
INSTALL
*.log
Makefile
Makefile.in
ltmain.sh
stamp-h1
install-sh
configure
