1 VERSIONINFO

FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0

BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080904E4"
		BEGIN
			VALUE "CompanyName", "Cee Emm Infotech"
			VALUE "FileDescription", "PDFTextExtraction"
			VALUE "FileVersion", "1.0"
			VALUE "InternalName", "PDFReading"
			VALUE "LegalCopyright", "Cee Emm Infotech"
			VALUE "OriginalFilename", "PDFTextExtraction.exe"
			VALUE "ProductName", "PDFTextExtraction"
			VALUE "ProductVersion", "1.0"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x809, 1252
	END
END

AppIcon ICON "favicon.ico"

